<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.getmicropad.micropad">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <!--<provider-->
            <!--android:authorities=""-->
            <!--android:name=""-->
        
        <activity android:name=".SelectNotepad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".NotepadActivity"
            android:label="@string/app_name"
            android:parentActivityName=".SelectNotepad">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SelectNotepad"/>
        </activity>

        <activity
            android:name=".ViewerActivity"
            android:label="@string/title_activity_viewer"
            android:parentActivityName=".NotepadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotepadActivity"/>
        </activity>
    </application>

</manifest>