.theme-IanPad #notepad-explorer a {
	color: white;
}

#breadcrumb-holder > nav.IanPad {
	background-color: #40af3a;
}

.theme-IanPad #notepad-explorer:before {
	content: 'Shoutout to the most ethically questionable lecturer. \1F43BIan\1F394Pad.';
	display: block;
	margin-bottom: 10px;
}
