*:not(input):not(textarea) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.hidden {
	display: none;
}

#empty-viewer {
	position: fixed;
	top: 128px;
	background-image: url('../img/white-lines.png');
	background-color:rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#instructions {
	position: absolute;
	top: calc(50% - 128px);
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: 200;
	font-size: 10vmin;
	width: 80%;
}

#viewer {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;
}

#MathJax_Message {
	display: none;
}
