#notepad-explorer {
	order: 1;
	padding: 5px;
	width: 300px;
	background-color: #607d8b;
	overflow: auto;
	color: #fff;
	border-left: 2px solid #ffb300;
}

.tree-view_children {
	margin-left: 16px;
}

.tree-view_children-collapsed {
	height: 0;
}

.tree-view_arrow {
	cursor: pointer;
	margin-right: 6px;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tree-view_arrow:after {
	content: '▾';
}

.tree-view_arrow-collapsed {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.explorer-note {
	display: inline-flex;
	white-space: nowrap;
	margin-left: 16px;
}

.explorer-note {
	display: flex;
	white-space: nowrap;
	margin-left: 16px;
	padding-bottom: 5px;
	padding-top: 5px
}

.explorer-note > .material-icons {
	padding-right: 5px;
}
