# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  test:
    docker:
      # specify the version you desire here
      - image: cimg/rust:1.52-node
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    environment:
      NODE_ENV: development

    steps:
      - checkout
      - run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - run: cd app && yarn
      - run: cd app && yarn global add playwright && yarn playwright install-deps

      # Load in the built MicroPad to run an instance for testing
      - attach_workspace:
          at: /tmp/mp-build
      - run:
          command: python3 -m http.server 3000
          working_directory: /tmp/mp-build/build
          background: true

      # Run the e2e integration tests
      - run: cd app && yarn test

  build:
    docker:
      - image: circleci/rust:latest-node
    working_directory: ~/repo
    steps:
      - checkout

      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ .Branch }}-{{ checksum "app/yarn.lock" }}
            - yarn-packages-{{ .Branch }}
            - yarn-packages-master
            - yarn-packages-

      - run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - run: cd app && yarn

      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ .Branch }}-{{ checksum "app/yarn.lock" }}
          paths:
            - app/node_modules/

      # Validate if we're building good code
      - run: cd app && yarn typecheck
      - run: cd app && yarn lint

      # Actually build the code, and then persist the result
      - run: cd app && yarn build && tar cfJ micropad.tar.xz build/*
      - store_artifacts:
          path: app/micropad.tar.xz
          destination: micropad.tar.xz
      - persist_to_workspace:
          root: app/
          paths:
            - build/*
            - micropad.tar.xz

  deploy:
    docker:
      - image: circleci/rust:latest-node

    working_directory: ~/repo

    steps:
      - attach_workspace:
          at: ~/repo/app
      - run: sudo apt install rsync
      - run: rsync -aue "ssh -p 1276 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" app/build/* $SSH_PATH

  canary-deploy:
    docker:
      - image: circleci/rust:latest-node

    working_directory: ~/repo

    steps:
      - attach_workspace:
          at: ~/repo/app
      - run: sudo apt install rsync
      - run: rsync -aue "ssh -p 1276 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null" app/build/* $NEXT_SSH_PATH

  publish-github-release:
    docker:
      - image: cibuilds/github:0.12

    steps:
      - attach_workspace:
          at: ~/repo/app
      - run:
          name: "Publish Release on GitHub"
          command: |
            VERSION=${CIRCLE_TAG}
            ghr -t ${GH_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ~/repo/app/micropad.tar.xz

workflows:
  version: 2
  test-and-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - publish-github-release:
          requires:
            - test
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - canary-deploy:
          requires:
            - test
            - build
          filters:
            branches:
              only: next-dev
      - deploy:
          requires:
            - test
            - build
          filters:
            branches:
              only: master
