body {
	position: static;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#viewer {
	position: static;
	width: 0px;
	height: 0px;
}

div, table, img {
	position: absolute;
}

.interact {
	border: 1px solid grey;
}

div .interact {
	min-width: 170px;
	min-height: 50px;
}

#modal {
	display: none;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
