body {
	position: static;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#viewer {
	position: static;
	width: 100%;
	height: 100%;
	display: none;
}

div, table, img {
	position: absolute;
}

.interact {
	border: 1px solid grey;
}

div .interact {
	min-width: 170px;
	min-height: 50px;
	padding: 5px;
	word-wrap: break-word;
}

#modal {
	display: none;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
