.theme-Midnight #notepad-explorer a {
	color: white;
}

.theme-Midnight .btn-flat {
	color: #fff;
}

.theme-Midnight .btn:hover, .theme-Midnight .btn-large:hover {
	background-color: #424242;
}

#breadcrumb-holder > nav.Midnight {
	background-color: #303030;
}
