#breadcrumb-holder > nav {
	transition: background-color .3s;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	height: 64px;
	line-height: 64px;
	margin-bottom: 0;
}

#breadcrumb-holder .MuiBreadcrumbs-ol {
	flex-wrap: nowrap;
}

.notepad-breadcrumbs__breadcrumb {
	font-size: 18px;
	color: white;
	color: hsla(0,0%, 100%, .7);
}
