header {
	position: static;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 30%;
}

header h1 {
	display: inline;
}

header i {
	font-size: 11px;
}

body {
	position: static;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div, img {
	position: relative;
}