#breadcrumb-holder {
	position: fixed;
	width: 100%;
	top: 52px;
}

#breadcrumb-holder > nav {
	transition: background-color .3s;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	height: 52px;
	line-height: 52px;
	margin-bottom: 0;
}

#breadcrumb-holder .MuiBreadcrumbs-ol {
	flex-wrap: nowrap;
}

.notepad-breadcrumbs__breadcrumb {
	font-size: 18px;
	color: white;
	color: hsla(0,0%, 100%, .7);
}
