body {
	margin: 0;
	padding: 0;
}

nav {
	z-index: 1000 !important;
	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.side-nav li {
	color: rgba(0,0,0,0.87);
}

.dropdown-content {
	overflow: auto !important;
}

.material-icons.left {
	margin-right: 10px;
}
