body {
	margin: 0;
	padding: 0;
}

#body {
	position: fixed;
	display: flex;
	z-index: -100;
	top: 128px;
	width: 100vw;
	height: 100vh;
}

nav {
	z-index: 1000 !important;
	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.side-nav li {
	color: rgba(0,0,0,0.87);
}

.dropdown-content {
	overflow: auto !important;
}

.material-icons.left {
	margin-right: 10px;
}

.material-icons {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
