#note-viewer {
	order: 0;
	width: calc(100vw - 300px);
	overflow: auto;
}

#note-container {
	transform-origin: 0 0;
	transform: scale(1);
}

#note-viewer.empty {
	/*animation: slide 85s linear infinite;*/
	/*noinspection CssUnknownTarget*/
	background-image: url("/assets/background.png");
}

/*@keyframes slide {*/
	/*from {*/
		/*background-position: 0 0;*/
	/*}*/

	/*to {*/
		/*background-position: 100vh 0;*/
	/*}*/
/*}*/
